{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% load markdown_deux_tags %}

{% load article_tags %}

{% block extend_head %}
<link rel="stylesheet" href="{% static 'blog/css/article_title_list.css' %}">
{% endblock %}

{% block content %}

{% block content_header %}{% endblock %}

{% for article in articles %}

<article class="article-list-block">
  <header class="article-list-header">
  <h2 class="article-list-title">
    <a href="{{article.get_absolute_url}}", class="article-list-link">
      {{ article.title }}
    </a>
  </h2>
  </header>
  <section class="article-list-section">
    {{ article.content | first_n_paragraph:1 | markdown:"article" }}
  </section>
  <footer class="article-list-footer">
    posted on
    <time>
      {{article.post_time.date}}
    </time>
    | tagged: {% for tag in article.tags.all %}
    {{tag.name}} 
    {% endfor %}

  </footer>
</article>
<hr></hr>
{% empty %}
<h2 class="empty-article-list-head">拍謝啦這裡沒東西QAQ</h3>
{% endfor %}
{% endblock content%}
