{% load analytical %}
{% load staticfiles %}
{% load static %}
<html>
  <head>
    {% analytical_head_top %}
    <title>{% block title %}{{ blog_title }}{% endblock %}</title>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
    <!-- justfont -->
    <script src="//s3-ap-northeast-1.amazonaws.com/justfont-user-script/jf-40684.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- genericon !-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/genericons/3.4.1/genericons.css">
    <link rel="stylesheet" href="{% static 'blog/css/code_highlight.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
    {% analytical_head_bottom %}
    {% block extend_head %}{% endblock %}
  </head>
  <body>
    {% analytical_body_top %}
    <div class="wrapper">
      <div class="head-wrapper">
        <header class="blog-header">
          {% block header %}
          <h1 class="blog-name"><a href="/">我需要一個好名字</a></h1>
          {% endblock header %}
        </header>
      </div>
      <div class="content-wrapper">
        <div class="container content-container">
          <div class="row">
            <div class="col-md-2">
            </div>
            <section class="main-content col-md-8">
              {% block content %}
              {% endblock content %}
            </section>
            <div class="col-md-2">
            </div>
          </div>
        </div>
      </div>
      <div class="footer-wrapper">
        <footer class="footer">
          {% block footer %}
          <div class="row">
            <div class="col-md-4 footer-tags">
              <div class="btn-group">
                {% for tag in tags %}
                <a href="{{ tag.get_absolute_url }}" class="btn btn-default btn-sm footer-tag-link">
                  {{ tag.name }}
                </a>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-4 footer-archive">
            </div>
            <div class="col-md-4 footer-info">
              <ul class="info-list">
                <li>
                  <a href="https://www.facebook.com/profile.php?id=100002358141174" class="info-fb-link"><span class="genericon genericon-facebook"></span></a>
                </li>
                <li>
                  <a href="https://github.com/chenesan" class="info-github-link"><span class="genericon genericon-github"></span></a>
                </li>
                <li>
                  <a href="mailto:pipio1994@gmail.com" class="info-mail-link"><span class="genericon genericon-mail"></span></a>
                </li>
                <li>
                  <a href="http://codepen.io/chenesan/" class="info-squirrel-link"><span class="genericon genericon-codepen"></span></a>
                </li>                
              </ul>
            </div>
          </div>
          <section class="footer-message">
            Powered by <a href="https://www.djangoproject.com/">django</a>
          </section>
          {% endblock footer %}
        </footer>
      </div>
    </div>
    {% analytical_body_bottom %}
    {% block end_body %} {% endblock %}
  </body>
</html>
