{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}管理後台{% endblock %}</title>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Latest compiled Bootstrap JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href={% static "blog_manager/css/base.css" %}>
    {% block extend_head %}{% endblock %}
  </head>
  <body>
    <header class="header">
      <h1 class="header-title">管理後台</h1>
      <a href="logout">登出</a>
    </header>
    <div class="middle">
      <aside class="sidebar col-md-4">
        <nav>
          <ul>
            <li>
              <a href="article-list/">文章管理</a>
            </li>
            <li>
              <a href="settings">設定</a>
            </li>
          </ul>
        </nav>
      </aside>
      <div class="content col-md-8">
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <footer></footer>
  </body>
</html>
